MovieExample.sln.DotSettings.user
MovieExample.v11.suo
MovieExample.v12.suo
MovieExample/Properties/
MovieExample/bin/
MovieExample/obj/
UnitTestProject1/Properties/
UnitTestProject1/bin/
UnitTestProject1/obj/
